@page
@model WebApplicationProject.Pages.AcknowledgmentModel

<h1 style="color:white">Thank you for registering!</h1>
<p style="color:white">Here are your details:</p>
<ul>
    <li style="color:white"><strong>First Name:</strong> @Model.FirstName</li>
    <li style="color:white"><strong>Last Name:</strong> @Model.LastName</li>
    <li style="color:white"><strong>Email:</strong> @Model.Email</li>
    <li style="color:white"><strong>Password:</strong> @Model.Password</li>
</ul>

